<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans.xsd">

  <bean id="russianGreeter" class="camelinaction.RussianGreeter"/>
  <bean id="danishGreeter" class="camelinaction.DanishGreeter"/>
  <bean id="englishGreeter" class="camelinaction.EnglishGreeter"/>

  <bean id="greetMeBean" class="camelinaction.GreetMeBean">
    <property name="greeter" ref="englishGreeter"/>
  </bean>
  
</beans>
