<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

  <bean id="russianGreeter" class="ru.perm.v.camelinaction.ch2.RussianGreeter"/>
  <bean id="danishGreeter" class="ru.perm.v.camelinaction.ch2.DanishGreeter"/>
  <bean id="englishGreeter" class="ru.perm.v.camelinaction.ch2.EnglishGreeter"/>

  <bean id="greaterService" class="ru.perm.v.camelinaction.ch2.GreaterService">
    <property name="greeter" ref="englishGreeter"/>
  </bean>

</beans>
